.main-item{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    height: 200px;
}
/* コンテンツ上 */

.main-item-top{
    display: inline-block;
    width: 35%;
    height: 100%;
    padding: 3%;
    background-color: #DDEFFF;
    display: inline-table;
    vertical-align: top;
}

.main-item-img{
    background-image: url("../img/item.jpg");
    width: 45%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: table-cell;
}
.main-item-ttl{
    display: table-cell;
    margin: 0;
    height: 100%;
    width: 50%;
    text-align: right;

}
.main-item-ttl h2{
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}
.main-item-ttl h3{
    margin-top: 10px;
    font-size: 13px;
    text-align: right;
}
.main-item-ttl h4{
    font-size: 12px;
    text-align: right;
    color: #707070;
}
.main-item-ttl-h4{
    margin-top: 15px;
}
/* Amazon */
.amazon{
    color: #fff;
    background-color: #66B8FF;
    display: inline-block;
    border-radius: 5px;
    padding: 3px;
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 13px;
}
/* コンテンツ下 */
.main-item-bottom{
    text-align: center;
    width: 60%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    text-align: center;
}
.main-item-bottom span{
    border-bottom: solid 1px #287DC0;
}
.main-item-bottom p{
    font-size: 12px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    height: 50%;
}
/* 本棚にいれる*/
.bookshelf{
    background-color:#E8BE00;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 3px 3px 3px 30px;
    background-image: url("../img/plus.png");
    background-size: 17px 17px;
    background-position: left 8px center;
    background-repeat: no-repeat;
    border-radius: 0.3em;
}
/* 書評を見る */
.review{
    background-color: #E8002B;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 3px 3px 3px 30px;
    background-image: url("../img/book_1.png");
    background-size: 17px 17px;
    background-position: left 8px center;
    background-repeat: no-repeat;
    border-radius: 0.3em;
}
/* 書評を書く */
.write{
    background-color: #4886FF;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 3px 3px 3px 30px;
    background-image: url("../img/book_1.png");
    background-size: 17px 17px;
    background-position: left 8px center;
    background-repeat: no-repeat;
    border-radius: 3px;
}
.main-item-bottom-btn{
    margin-top: 13px;
}
.main-item-bottom-btn a{
    margin-right: 10px;
}
